<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>领取任务
            <small>领取任务页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">领取任务</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success" >
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-5 col-sm-6" style="padding-right: 0">
                            <div class="pull-left" style="text-align: end">
                                <button class="btn btn-success btn-flat btn-lg pull-left" title="刷新" style="margin-right: 2px;" ng-click="btnRefresh()"><i class="fa fa-refresh"></i></button>
                                <div class="input-group sidebar-form">
                                    <input type="text" class="form-control" ng-model="searchKey" placeholder="搜索">
                                    <span class="input-group-btn">
                                        <button name="search" ng-click="btnSearch()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                
            <div class="box-body">
                <table class="table table-striped" style="background-color: white; margin-bottom: 0px">
                    <thead>
                        <tr>
                            <th st-ratio="7">序号</th>
                            <th st-ratio="10">项目名称</th>
                            <th st-ratio="27">描述</th>
                            <th st-ratio="10">费用</th>
                            <th st-ratio="10">发布时间</th>
                            <th st-ratio="16">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in taskManageData.Items">
                            <td st-ratio="7">{{item.Index}}</td>
                            <td st-ratio="10">{{item.Name}}</td>
                            <td st-ratio="27">{{item.Description}}</td>
                            <td st-ratio="10">{{item.Fee}}</td>
                            <td st-ratio="10">{{item.PublicTimeStr}}</td>
                            <td st-ratio="16">
                                <button class="btn btn-success btn-flat btn-sm pull-left" ng-click="getTask(item)">领取</button>
                                <button class="btn btn-success btn-flat btn-sm pull-left" ng-click="showInfo(item)">详情</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <ul class="pagination" style="margin: 0px; float: right;">
                                    <li><a ng-click="pageChange(1)">首页</a>
                                    </li>
                                    <li><a ng-click="pageChange(pageIndex - 1)">&lt;</a>
                                    </li>
                                    <li><a>
                                        <input type="text" class="select-page" ng-model="pageIndex" ng-change="pageChange(pageIndex)">
                                        / {{taskManageData.PageCount}} , 总记录数 {{taskManageData.TotalCount}} 条</a>
                                    </li>
                                    <li><a ng-click="pageChange(pageIndex + 1)">&gt;</a>
                                    </li>
                                    <li><a ng-click="pageChange(taskManageData.PageCount)">尾页</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            </div>
        </div>
    <!-- /.box -->
    </div>
</section>
<!-- /.content -->
